{% load static %}
<footer id="footer" class="footer bg-dark text-white pt-5 pb-4">
  <div class="container text-center text-md-start">
    <div class="row">

      <!-- Left side: Brand -->
      <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">
        <h4 class="fw-bold text-uppercase mb-4 animate__animated animate__fadeInLeft">Yuzdagi hislar tizimi</h4>
        <p class="text-light small">Bizning veb-sayt xush kelibsiz </p>
      </div>

      <!-- Middle: Links -->
      <div class="col-md-3 col-lg-3 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">Foydali havolalar</h6>
        <p><a href="{% url 'index' %}" class="text-reset text-decoration-none">uy</a></p>
        <p><a href="{% url 'about' %}" class="text-reset text-decoration-none">haqida Us</a></p>
        <p><a href="{% url 'contact' %}" class="text-reset text-decoration-none">Aloqa</a></p>
        <p><a href="{% url 'gallery' %}" class="text-reset text-decoration-none">Gallery</a></p>
        
      </div>

      <!-- Right: Social -->
      <div class="col-md-5 col-lg-5 col-xl-4 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase fw-bold mb-4">Obuna buling bizning sahifalarimizga</h6>
        <div class="d-flex justify-content-center justify-content-md-start">
          <a href="#" class="text-white me-4 fs-5"><i class="bi bi-twitter-x"></i></a>
          <a href="#" class="text-white me-4 fs-5"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-white me-4 fs-5"><i class="bi bi-instagram"></i></a>
          <a href="#" class="text-white fs-5"><i class="bi bi-linkedin"></i></a>
          <a href="#" class="text-white me-4 fs-5"><i class="fab fa-telegram-plane"></i></a>
          
        </div>
      </div>
    </div>
  </div>
 
</footer>
